**IMPORTAÇÃO DAS BIBLIOTECAS**

In [1]:
import pandas as pd
import numpy as np
import csv

**LEITURA DOS DADOS**

In [17]:
# Ler o arquivo CSV e tratar os dados
dados = pd.read_csv('/content/dados_completos_3.csv',
                    engine='python',
                    sep=";"
                    )

**VISUALIZAÇÃO PREVIA DOS DADOS**

In [18]:
dados

,codigo,descricao,valor,data
0,159.0,!EM PROCESSO DE DESATIVACAO! ADUBO BOVINO,"205,40",12017
1,303.0,"!EM PROCESSO DE DESATIVACAO! ANEL BORRACHA, PA...","2,69",12017
2,NaN,"ESGOTO, DN 100 MM (NBR 7362)",NaN,12017
3,304.0,"!EM PROCESSO DE DESATIVACAO! ANEL BORRACHA, PA...","4,11",12017
4,NaN,"ESGOTO, DN 125 MM (NBR 7362)",NaN,12017
...,...,...,...,...
139357,NaN,(PLACA + SUPORTE + MODULO),NaN,122016
139358,00038071,"3 INTERRUPTORES SIMPLES 10A, 250V, CONJUNTO MO...","12,24",122016
139359,NaN,+ SUPORTE + MODULOS),NaN,122016
139360,Total de In,NaN,NaN,122016
139361,A adoção,NaN,é suficiente,122016

**CONVERSÃO DOS DADOS**

In [19]:
dados.replace('"', '', regex=True, inplace=True)
# Converter a coluna de data para o formato mm/yyyy
dados['data'] = pd.to_datetime(dados['data'].astype(str).str.zfill(6), format='%m%Y').dt.strftime('%m/%Y')

# Aplicar a expressão regular na coluna e converter para float
dados['codigo'] = dados['codigo'].str.replace(r'[^0-9,\.]', '', regex=True)

In [20]:
# Conversão para float
dados['codigo'] = pd.to_numeric(dados['codigo'].str.replace(',', '.'), errors='coerce')

In [21]:
dados

,codigo,descricao,valor,data
0,159.0,!EM PROCESSO DE DESATIVACAO! ADUBO BOVINO,"205,40",01/2017
1,303.0,"!EM PROCESSO DE DESATIVACAO! ANEL BORRACHA, PA...","2,69",01/2017
2,NaN,"ESGOTO, DN 100 MM (NBR 7362)",NaN,01/2017
3,304.0,"!EM PROCESSO DE DESATIVACAO! ANEL BORRACHA, PA...","4,11",01/2017
4,NaN,"ESGOTO, DN 125 MM (NBR 7362)",NaN,01/2017
...,...,...,...,...
139357,NaN,(PLACA + SUPORTE + MODULO),NaN,12/2016
139358,38071.0,"3 INTERRUPTORES SIMPLES 10A, 250V, CONJUNTO MO...","12,24",12/2016
139359,NaN,+ SUPORTE + MODULOS),NaN,12/2016
139360,NaN,NaN,NaN,12/2016
139361,NaN,NaN,é suficiente,12/2016

**DADOS FALTANTES**

In [22]:
# Verificando os dados faltantes

dados_faltantes = dados[dados.isna().any(axis=1)]
print(dados_faltantes['valor'].unique())
print(dados_faltantes['codigo'].unique())

[nan 'é suficiente']
[nan]

In [24]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 139362 entries, 0 to 139361
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   codigo     97841 non-null   float64
 1   descricao  139324 non-null  object
 2   valor      97860 non-null   object
 3   data       139362 non-null  object
dtypes: float64(1), object(3)
memory usage: 4.3+ MB

In [25]:
# Deletar as linha que contem dados faltantes

dados.dropna(inplace=True)

**CONVERTENDO A COLUNA VALOR PARA FLOAT**

In [26]:
# Converter a coluna 'valor' para float64
dados['valor'] = pd.to_numeric(dados['valor'].str.replace('.', '').str.replace(',', '.'))

<ipython-input-26-f790a19567c8>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados['valor'] = pd.to_numeric(dados['valor'].str.replace('.', '').str.replace(',', '.'))

**VERIFICANDO AS INFORMAÇÕES BASICAS DOS NOSSOS DADOS**

In [27]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 97841 entries, 0 to 139358
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codigo     97841 non-null  float64
 1   descricao  97841 non-null  object
 2   valor      97841 non-null  float64
 3   data       97841 non-null  object
dtypes: float64(2), object(2)
memory usage: 3.7+ MB

In [28]:
dados

,codigo,descricao,valor,data
0,159.0,!EM PROCESSO DE DESATIVACAO! ADUBO BOVINO,205.40,01/2017
1,303.0,"!EM PROCESSO DE DESATIVACAO! ANEL BORRACHA, PA...",2.69,01/2017
3,304.0,"!EM PROCESSO DE DESATIVACAO! ANEL BORRACHA, PA...",4.11,01/2017
5,305.0,"!EM PROCESSO DE DESATIVACAO! ANEL BORRACHA, PA...",7.03,01/2017
7,306.0,"!EM PROCESSO DE DESATIVACAO! ANEL BORRACHA, PA...",8.45,01/2017
...,...,...,...,...
139350,38079.0,"2 INTERRUPTORES SIMPLES + TOMADA 2P+T 10A, 250...",15.44,12/2016
139352,38068.0,"2 INTERRUPTORES SIMPLES 10A, 250V, CONJUNTO MO...",10.24,12/2016
139354,38076.0,"2 TOMADAS 2P+T 10A, 250V, CONJUNTO MONTADO PAR...",12.62,12/2016
139356,38074.0,"3 INTERRUPTORES PARALELOS 10A, 250V, CONJUNTO ...",17.99,12/2016
139358,38071.0,"3 INTERRUPTORES SIMPLES 10A, 250V, CONJUNTO MO...",12.24,12/2016

In [29]:
dados.to_csv('dados_parte3.csv', index=False, sep=';')