**IMPORTAÇÃO DAS BIBLIOTECAS**

In [22]:
import pandas as pd
import numpy as np
import csv

**LEITURA DOS DADOS**

In [51]:
# Ler o arquivo CSV e tratar os dados
dados = pd.read_csv('/dados/merged/dados_completos.csv',
                    engine='python',
                    sep=";"
                    )

**VISUALIZAÇÃO PREVIA DOS DADOS**

In [53]:
dados

,codigo,descricao,valor,data
0,414.0,"ABRACADEIRA DE NYLON PARA AMARRACAO DE CABOS, ...",0.07,01/2010
1,410.0,"ABRACADEIRA DE NYLON PARA AMARRACAO DE CABOS, ...",0.10,01/2010
2,411.0,"ABRACADEIRA DE NYLON PARA AMARRACAO DE CABOS, ...",0.13,01/2010
3,409.0,"ABRACADEIRA DE NYLON PARA AMARRACAO DE CABOS, ...",0.20,01/2010
4,412.0,"ABRACADEIRA DE NYLON PARA AMARRACAO DE CABOS, ...",0.23,01/2010
...,...,...,...,...
339675,13440.0,VOLKSWAGEN GOL 1.6 A GASOLINA**CAIXA**,52278.69,12/2013
339676,11613.0,VOLKSWAGEN KOMBI STANDARD PICK UP A GASOLINA R...,48814.30,12/2013
339677,,1170KG**CAIXA**,NaN,12/2013
339678,00011157,WASH PRIMER PARA TINTA AUTOMOTIVA,114.29,12/2013
339679,00004227,ÓLEO LUBRIFICANTE PARA MOTORES DE EQUIPAMENTOS...,14.00,12/2013

**CONVERSÃO DOS DADOS**

In [54]:
dados.replace('"', '', regex=True, inplace=True)
# Converter a coluna de data para o formato mm/yyyy
dados['data'] = pd.to_datetime(dados['data'].astype(str).str.zfill(6), format='%m%Y').dt.strftime('%m/%Y')

# Converter a coluna 'valor' para float64
dados['valor'] = pd.to_numeric(dados['valor'].str.replace('.', '').str.replace(',', '.'))
    
# Aplicar a expressão regular na coluna e converter para float
dados['codigo'] = dados['codigo'].str.replace(r'[^0-9,\.]', '', regex=True)

# Conversão para float
dados['codigo'] = pd.to_numeric(dados['codigo'].str.replace(',', '.'), errors='coerce')

**DADOS FALTANTES**

In [65]:
# Verificando os dados faltantes

dados_faltantes = dados[dados.isna().any(axis=1)]
print(dados_faltantes['valor'].unique())
print(dados_faltantes['codigo'].unique())

[nan]
[nan]

In [68]:
# Deletar as linha que contem dados faltantes

dados.dropna(inplace=True)

**VERIFICANDO AS INFORMAÇÕES BASICAS DOS DADOS**

In [69]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 297250 entries, 0 to 339679
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   codigo     297250 non-null  float64
 1   descricao  297250 non-null  object
 2   valor      297250 non-null  float64
 3   data       297250 non-null  object
dtypes: float64(2), object(2)
memory usage: 11.3+ MB

In [71]:
# Salvandos os dados

dados.to_csv('dados\clean\dados_parte1.csv', index=False, sep=';')