**IMPORTANDO AS BIBLIOTECAS**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os
import warnings

warnings.simplefilter(action='ignore', category=Warning)

In [2]:
#materiais = pd.read_csv('/content/drive/MyDrive/PROJETO APLICADO/MATERIAIS.csv', encoding='ISO-8859-1', error_bad_lines=False, sep = ";" )

**CARREGANDO OS DADOS E CONCATENANDO**

In [9]:
# Caminho dos dados
caminho_pasta = '/content/drive/MyDrive/PROJETO APLICADO/'

# Lista para armazenar os dataframes
dfs=[]

# Loop para carregar os arquivos na pasta
for nome_arquivo in os.listdir(caminho_pasta):
  if nome_arquivo.lower().endswith('.csv'):
    df = pd.read_csv(os.path.join(caminho_pasta, nome_arquivo),encoding='ISO-8859-1', error_bad_lines=False, sep = ";" )
    dfs.append(df)

# Concatenação dos dados
dados = pd.concat(dfs, ignore_index=True);

**ALTERANDO O DTYPE DA COLUNA DATA**

In [10]:
# Tranformação dos dados de object para datetime
dados['data'] = pd.to_datetime(dados['data'], format='%m/%Y')
dados['data'] = dados['data'].dt.strftime('%m/%y')

**VERIFICAÇÕES RAPIDAS PARA AJUSTES DOS DADOS**

In [11]:
# Alterando a ordem dos dados pela data
dados.sort_values(by="data", inplace=True)

# Verificando quantos meses temos de dados
len(dados['data'].unique())

157

In [12]:
dados['data'].unique()

array(['01/10', '01/11', '01/12', '01/13', '01/14', '01/15', '01/16',
       '01/17', '01/18', '01/19', '01/20', '01/21', '01/22', '01/23',
       '02/10', '02/11', '02/12', '02/13', '02/14', '02/15', '02/16',
       '02/17', '02/18', '02/19', '02/20', '02/21', '02/22', '03/10',
       '03/11', '03/12', '03/13', '03/14', '03/15', '03/16', '03/17',
       '03/18', '03/19', '03/20', '03/21', '03/22', '04/10', '04/11',
       '04/12', '04/13', '04/14', '04/15', '04/16', '04/17', '04/18',
       '04/19', '04/20', '04/21', '04/22', '05/10', '05/11', '05/12',
       '05/13', '05/14', '05/15', '05/16', '05/17', '05/18', '05/19',
       '05/20', '05/21', '05/22', '06/10', '06/11', '06/12', '06/13',
       '06/14', '06/15', '06/16', '06/17', '06/18', '06/19', '06/20',
       '06/21', '06/22', '07/10', '07/11', '07/12', '07/13', '07/14',
       '07/15', '07/16', '07/17', '07/18', '07/19', '07/20', '07/21',
       '07/22', '08/10', '08/11', '08/12', '08/13', '08/14', '08/15',
       '08/16', '08/17', '08/18', '08/19', '08/20', '08/21', '08/22',
       '09/10', '09/11', '09/12', '09/13', '09/14', '09/15', '09/16',
       '09/17', '09/18', '09/19', '09/20', '09/21', '09/22', '10/10',
       '10/11', '10/12', '10/13', '10/14', '10/15', '10/16', '10/17',
       '10/18', '10/19', '10/20', '10/21', '10/22', '11/10', '11/11',
       '11/12', '11/13', '11/14', '11/15', '11/16', '11/17', '11/18',
       '11/19', '11/20', '11/21', '11/22', '12/10', '12/11', '12/12',
       '12/13', '12/14', '12/15', '12/16', '12/17', '12/18', '12/19',
       '12/20', '12/21', '12/22'], dtype=object)

In [13]:
# Descrição estatistica dos dados
round(dados.describe().T,2)

,count,mean,std,min,25%,50%,75%,max
codigo,812637.0,14482.53,14019.35,1.0,3463.00,10531.0,21048.00,44945.00
valor,812637.0,18233.33,174146.13,0.0,8.23,28.9,148.78,8958602.97

In [15]:
dados.to_csv('/content/drive/MyDrive/PROJETO APLICADO/dados_insumos.csv', index=False, sep=';')