**IMPORTAÇÃO DAS BIBLIOTECAS**

In [1]:
import pandas as pd
import numpy as np
import csv

**LEITURA DOS DADOS**

In [6]:
# Ler o arquivo CSV e tratar os dados
dados = pd.read_csv('/dados/merged/dados_completos_2.csv',
                    engine='python',
                    sep=";"
                    )

**VISUALIZAÇÃO PREVIA DOS DADOS**

In [7]:
dados

,codigo,descricao,valor,data
0,55.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...","1,79",12015
1,NaN,- LIGACAO PREDIAL DE AGUA (NTS 179),NaN,12015
2,61.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...","1,69",12015
3,NaN,- LIGACAO PREDIAL DE AGUA (NTS 179),NaN,12015
4,62.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...","3,51",12015
...,...,...,...,...
66631,00010508,VIGIA NOTURNO,"11,43",122014
66632,00011643,"VIGOTA CONCRETO ARMADO PRE-MOLDADO 0,10X0,10X1...","6,75",122014
66633,00011157,WASH PRIMER PARA TINTA AUTOMOTIVA,"113,43",122014
66634,Total de In,NaN,NaN,122014
66635,A adoção,NaN,é suficiente,122014

**CONVERSÃO DOS DADOS**

In [8]:
dados.replace('"', '', regex=True, inplace=True)
# Converter a coluna de data para o formato mm/yyyy
dados['data'] = pd.to_datetime(dados['data'].astype(str).str.zfill(6), format='%m%Y').dt.strftime('%m/%Y')

# Aplicar a expressão regular na coluna e converter para float
dados['codigo'] = dados['codigo'].str.replace(r'[^0-9,\.]', '', regex=True)

In [ ]:
# Conversão para float
dados['codigo'] = pd.to_numeric(dados['codigo'].str.replace(',', '.'), errors='coerce')

In [10]:
dados

,codigo,descricao,valor,data
0,55.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...","1,79",01/2015
1,NaN,- LIGACAO PREDIAL DE AGUA (NTS 179),NaN,01/2015
2,61.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...","1,69",01/2015
3,NaN,- LIGACAO PREDIAL DE AGUA (NTS 179),NaN,01/2015
4,62.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...","3,51",01/2015
...,...,...,...,...
66631,10508.0,VIGIA NOTURNO,"11,43",12/2014
66632,11643.0,"VIGOTA CONCRETO ARMADO PRE-MOLDADO 0,10X0,10X1...","6,75",12/2014
66633,11157.0,WASH PRIMER PARA TINTA AUTOMOTIVA,"113,43",12/2014
66634,NaN,NaN,NaN,12/2014
66635,NaN,NaN,é suficiente,12/2014

**DADOS FALTANTES**

In [11]:
# Verificando os dados faltantes

dados_faltantes = dados[dados.isna().any(axis=1)]
print(dados_faltantes['valor'].unique())
print(dados_faltantes['codigo'].unique())

[nan 'é suficiente']
[nan]

In [12]:
# Deletar as linhas que contém dados faltantes

dados.dropna(inplace=True)

**CONVERTENDO A COLUNA VALOR PARA FLOAT**

In [13]:
# Converter a coluna 'valor' para float64
dados['valor'] = pd.to_numeric(dados['valor'].str.replace('.', '').str.replace(',', '.'))

<ipython-input-13-f790a19567c8>:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados['valor'] = pd.to_numeric(dados['valor'].str.replace('.', '').str.replace(',', '.'))

**VERIFICANDO AS INFORMAÇÕES BASICAS DOS NOSSOS DADOS**

In [14]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 49503 entries, 0 to 66633
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   codigo     49503 non-null  float64
 1   descricao  49503 non-null  object
 2   valor      49503 non-null  float64
 3   data       49503 non-null  object
dtypes: float64(2), object(2)
memory usage: 1.9+ MB

In [15]:
dados

,codigo,descricao,valor,data
0,55.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...",1.79,01/2015
2,61.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...",1.69,01/2015
4,62.0,"ADAPTADOR DE COMPRESSAO EM POLIPROPILENO (PP),...",3.51,01/2015
6,60.0,"ADAPTADOR EM PVC, COM REGISTRO, PARA PEAD, 20 ...",2.32,01/2015
8,235.0,|EM PROCESSO DE DESATIVAÇÃO| AGREGADO ALTA RES...,0.75,01/2015
...,...,...,...,...
66629,10501.0,"VIDRO TEMPERADO VERDE E = 6 MM, SEM COLOCACAO",132.92,12/2014
66630,10503.0,"VIDRO TEMPERADO VERDE E = 8 MM, SEM COLOCACAO",179.58,12/2014
66631,10508.0,VIGIA NOTURNO,11.43,12/2014
66632,11643.0,"VIGOTA CONCRETO ARMADO PRE-MOLDADO 0,10X0,10X1...",6.75,12/2014
66633,11157.0,WASH PRIMER PARA TINTA AUTOMOTIVA,113.43,12/2014

In [16]:
dados.to_csv('dados\clean\dados_parte2.csv', index=False, sep=';')